@tailwind base;
@tailwind components;

:root {
  --c-bg: 0 0 0;
  --c-on-bg: 255 255 255;
  --c-primary: 68 240 230;
  --c-on-primary: 0 0 0;
  --c-secondary: 235 150 255;
  --c-danger: 230 100 100;
  --c-success: 85 185 95;
  --c-shadow: 0 0 0;
  --c-barrier: 20 20 23;
}

body {
  color: rgb(var(--c-on-bg));
  background: rgb(var(--c-bg));
}

input,
textarea {
  -webkit-appearance: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a:focus-visible,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgb(var(--c-bg)), 0 0 0 6px rgb(var(--c-primary));
  z-index: 10;
}

@tailwind utilities;
